@import url('https://fonts.googleapis.com/css?family=Francois+One|Merriweather+Sans:300,400,400i,700,700i|Open+Sans:300,400,700|Oswald');

body {
margin:0;
padding:0;
font-family: 'Merriweather Sans', sans-serif;
font-size:16px;
color:#383838;
}

a {
color:#B28C03;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
-o-transition:all .3s ease;
transition:all .3s ease;
}

a:hover {text-decoration:none;}

.container {
width:100%;
max-width:1150px;
margin:0 auto;
position:relative;
}

.alignleft {
float:left;
margin:0 15px 15px 0;
}

.alignright {
float:right;
margin:0 0 15px 15px;
}

#header {
height:100px;
}

#header .container {border-top:solid 5px #DDB103;}

#header .logo {
float:left;
margin:10px 0 0 0;
}

#header .logo a {
background: url('../images/logo.png') 0 0 no-repeat;
width:169px;
height:73px;
display:block;
}

#header .logo span {display:none;}

#header .menu {
float:right;
margin:33px 0 0 0;
}

#header .menu ul {
margin:0;
padding:0;
list-style:none;
}

#header .menu li {
display:inline-block;
vertical-align:top;
}

#header .menu li:after {
content:'/';
margin:0 10px 0 14px;
position:relative;
top:-1px;
font-family: 'Merriweather Sans', sans-serif;
font-size:15px;
font-weight:300;
color:#DDB103;
}

#header .menu li:last-child:after {display:none;}

#header .menu a {
font-family: 'Francois One', sans-serif;
font-size:21px;
color:#3F3F3F;
text-decoration:none;
}

#header .menu .current-menu-item a,
#header .menu .current-menu-parent a {color:#DDB103;}

#header .menu a:hover {color:#DDB103}




#content {

}





#slider {
width:100%;
max-width:1150px;
height:450px;
margin:0 auto;
position:relative;
overflow:hidden;
}

/*
 
#slider:before {
content:'';
background: url('../images/slider-arrow-bottom.png') 0 0 repeat-x;
width:100%;
height:8px;
display:block;
position:absolute;
top:0;
left:0;
z-index:2;
}

#slider:after {
content:'';
background: url('../images/slider-arrow-top.png') 0 0 repeat-x;
width:100%;
height:8px;
display:block;
position:absolute;
bottom:0;
left:0;
z-index:2;
}

*/

#slider .item {
height:450px !important;
position:relative;
}

#slider .item.one {
background: url('../images/slider/slide-1.jpg') 50% 50% no-repeat;
background-size:auto 450px;
}

#slider .item.two {background: url('../images/slider/slide-2.jpg') 50% 50% no-repeat;}
#slider .item.three {background: url('../images/slider/slide-3.jpg') 50% 50% no-repeat;}


#slider .item:before {
content:'';
background:rgba(0, 0, 0, 0.15);
width:100%;
height:100%;
display:block;
position:absolute;
top:0;
left:0;
}

#slider .owl-controls {
width:100%;
display:block;
position:absolute;
bottom:0;
left:0;
}

#slider .owl-prev {
background: url('../images/slider-arrow-left.png') 0 0 no-repeat;
width:65px;
height:65px;
display:block;
position:absolute;
bottom:275px;
left:25px;
text-indent: -99999px;
opacity:0.75;
}

#slider .owl-next {
background: url('../images/slider-arrow-right.png') 0 0 no-repeat;
width:65px;
height:65px;
display:block;
position:absolute;
bottom:275px;
right:25px;
text-indent: -99999px;
opacity:0.75;
}

#slider .owl-prev:hover,
#slider .owl-next:hover {opacity:0.95;}


#slider .owl-pagination {
width:100%;
height:40px;
position:absolute;
bottom:0px;
left:0;
z-index:2;
text-align:center;
}

#slider .owl-pagination .owl-page {
background:#FFFFFF;
width:15px;
height:15px;
margin:0 5px;
display:inline-block;
vertical-align:middle;
}

#slider .owl-pagination .owl-page:hover {background:#DDB103;}

#slider .owl-pagination .owl-page.active {
background:#DDB103;
width:22px;
height:22px;
}

#slider ul {
background:rgba(0, 0, 0, 0.32);
width:100%;
margin:0;
padding:15px 0 35px 0;
display:block;
position:absolute;
top:145px;
left:0;
list-style:none;
text-align:center;
}

#slider ul li {
margin:0 0 -4px 0;
font-family: 'Open Sans', sans-serif;
font-size:40px;
font-weight:400;
color:rgba(255, 255, 255, 1);
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
}

#slider ul li strong {
font-weight:700;
color:#DDB103;
}


#slider .button a {
background:#DDB103;
height:50px;
line-height:50px;
padding:0 35px;
display:inline-block;
font-size:30px;
font-weight:400;
color:#FFFFFF;
text-decoration:none;
text-transform: uppercase;
position:relative;
}

/* #slider .button a:before {
content:'';
width: 0;
height: 0;
border-bottom: 50px solid #DDB103; 
border-left: 50px solid transparent;
position:absolute;
top:0;
left:-50px;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
transition:all .2s ease;
}

#slider .button a:after {
content:'';
width: 0;
height: 0;
border-top: 50px solid #DDB103; 
border-right: 50px solid transparent;
position:absolute;
top:0;
right:-50px;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
transition:all .2s ease;
} */

#slider .button a:hover {
background:#F2BE04;
color:rgba(0, 0, 0, 0.65);
text-shadow:none;
}

#slider .button a:hover:before {border-bottom: 50px solid #F2BE04;}
#slider .button a:hover:after {border-top: 50px solid #F2BE04; }

#content .table {
margin:40px 0 0 0;
}


#content .table h2 {
margin:0 0 35px 0;
font-family: 'Francois One', sans-serif;
font-size:45px;
text-align:center;
text-transform: uppercase;
font-weight:400;
}


#content .table table {
width:100%;
border-collapse: collapse;
}

#content .table td {
background:#F9F9F9;
width:144.3px;
padding:10px 7px;
font-size:15px;
text-align:center;
border:solid 1px #E5E5E5;
}

#content .table td img {
width:100% !important;
max-width:125px !important;
height:auto !important;
}

#content .table td.space {
padding:0;
position:relative;
}

#content .table td.space:before {
content:'';
background:#FFFFFF url('../images/logo-table.png') 50% 50% no-repeat;
width:100%;
height:100%;
display:block;
position:absolute;
top:0;
left:0;
border-right:solid 1px #E5E5E5 !important;
}

#content .table td:first-child {
width:186px;
font-weight:700;
}

#content .table tr:first-child td {
background:#F2F2F2 !important;
font-weight:700;
}

#content .table tr:nth-child(2) td:first-child,
#content .table tr:nth-child(3) td:first-child {
background:none !important;
font-weight:400;
}

#content .table tr:nth-child(3) td:first-child {background:#F9F9F9 !important;}

#content .table tr:nth-child(2n+2) td {background:#FFFFFF;}

#content .table tr:nth-child(2) td:first-child {
width:100px !important;}

#content .table tr td.button a {
background:#DDB103;
height:24px;
line-height:26px;
display:inline-block;
padding:0 6px;
font-size:13px;
font-weight:300;
text-decoration:none;
color: #FFFFFF;
text-transform: uppercase;
}

#content .table tr td.button a:hover {
background:#663F05;
color: #DDB103;
}

#content .list {
margin:40px 0 0 0;
}

#content .list h2 {
margin:0 0 15px 0;
font-family: 'Francois One', sans-serif;
font-size:45px;
text-align:center;
text-transform: uppercase;
font-weight:400;
}

#content .list .info {
margin:0 0 35px 0;
font-size:15px;
color:#727272;
line-height:24px;
}

#content .list .info p:first-child {margin-top:0;}
#content .list .info p:last-child {margin-bottom:0;}

#content .list .container {
width:100%;
max-width:1140px;
padding:0;
}

#content .list .block {
background:#DDB103;
margin:0 0 10px 0;
position:relative;
white-space: nowrap;
}

#content .list .block:last-child {margin:0 0 0 0;}

/*

#content .list .block:before {
content:'';
width: 0;
height: 0;
position:absolute;
top:0;
left:0;
z-index:2;
border-top: 50px solid #DDB103; 
border-right: 50px solid transparent;	
}

*/

#content .list .image {
width:100%;
max-width:570px;
margin:0 -4px 0 0;
display:inline-block;
vertical-align:top;
position:relative;
}

#content .list .image img {
width:570px;
height:200px;
}

/*

#content .list .image:before {
content:'';
background:rgba(0, 0, 0, 0.15);
width:100%;
height:100%;
display:block;
position:absolute;
top:0;
left:0;
}

*/

#content .list .text {
width:100%;
max-width:570px;
height:200px;
display:inline-block;
vertical-align:top;
text-align:center;
}

#content .list .text .sub-block {
width:100%;
height:100%;
display:table;
white-space: normal;
}

#content .list .text .sub-block div{
padding:0 20px;
}

#content .list .text h4 {
margin:0;
}

#content .list .text p {
margin:10px 0 0 0;
font-size:14px;
line-height:17px;
color:rgba(255, 255, 255, 0.75);
}

#content .list .text a {
width:100%;
height:100%;
display:table-cell;
vertical-align:middle;
font-family: 'Oswald', sans-serif;
font-size:35px;
color:rgba(255, 255, 255, 0.95);
text-decoration:none;
}

/* #content .list .text a {
background:#FFFFFF;
width:100%;
max-width:280px;
display:block;
margin:0 auto;
padding:8px 8px;
font-family: 'Oswald', sans-serif;
font-size:27px;
color:#DDB103;
text-decoration:none;
text-transform: uppercase;
position:relative;
white-space: normal;
} 

#content .list .text a:before {
content:'';
width: 0;
height: 0;
position:absolute;
top:0;
left:0;
border-top: 25px solid transparent;
border-left: 15px solid #DDB103;
border-bottom: 25px solid transparent;
}

#content .list .text a:after {
content:'';
width: 0;
height: 0;
position:absolute;
top:0;
right:0;
border-top: 25px solid transparent;
border-right: 15px solid #DDB103;
border-bottom: 25px solid transparent;
}

#content .list .text a:hover {
background:#663F05;
color:#E1BD30;
border-color:#663F05;
} */

#content .footer-text {
margin:50px 0 0 0;
color:#3F3F3F;
line-height:25px;
}

#content .footer-text p:first-child {margin-top:0;}
#content .footer-text p:last-child {margin-bottom:0;}

#content .footer-text .container {
width:100%;
max-width:1140px;
background:#F6F6F6;
padding:15px 0;
}

#content .footer-text p {margin:0 20px 20px;}

#content .page {
padding:15px 0 0 0;
border-top:solid 3px #F9F9F9;
}

#content .page h1 {
margin:0 0 30px 0;
font-family: 'Oswald', sans-serif;
font-size:40px;
line-height:42px;
text-transform: uppercase;
}

#content .tabbable div:first-child {
width:100%;
max-width:300px;
margin:0 25px 0 0;
display:inline-block;
vertical-align:top;
}

#content .tabbable div ul {
margin:0;
padding:0;
list-style:none;
border:none;
}

#content .tabbable div:first-child li {
display:block;
float:none;
}

#content .tabbable div:first-child li:hover {
background:#F9F9F9;
}

#content .tabbable div:first-child li.active {
background:#DDB103;
}

#content .tabbable div:first-child li.active a {
font-weight:400;
color:#FFFFFF;
}

#content .tabbable div:first-child li a {
background:none;
height:auto;
border:none;
padding:10px 10px;
font-size:15px;
font-weight:300;
line-height:18px;
color:#3F3F3F;
}

#content .tabbable div:last-child {
width:100%;
max-width:820px;
display:inline-block;
vertical-align:top;
font-size:15px;
line-height:26px;
color:#4C4C4C;
}

#content .tabbable div:last-child a {
color:#B28C03 !important;
}

#content .tabbable div:last-child img {
width:100%;
max-width:350px;
height:auto;
margin:0 15px 15px 0;
float:left;
}


#content .kama_breadcrumbs {
margin:0 0 15px 0;
font-family: 'Open Sans', sans-serif;
font-size:13px;
font-weight:400;
color:#B2B2B2;
display:none;
}

#content .kama_breadcrumbs a {color:#B2B2B2;}

#content .kama_breadcrumbs a:hover {text-decoration:none;}


#content .page.schufa {
margin-bottom:-35px;
text-align:center;

}

#content .page.schufa h1,
#content .page.schufa .kama_breadcrumbs {text-align:left;}

#content .page.schufa h1 {

margin:25px 0 35px 0;
}

#content .page.schufa .block {
width:100%;
width:550px;
height:110px;
margin:0 40px 40px 0;
display:inline-block;
vertical-align:top;
text-align:left;
}

#content .page.schufa .block:nth-child(2n+2) {margin:0 0 40px 0;}

#content .page.schufa .block .image {
width:100px;
height:100px;
margin:0 20px 0 0;
display:inline-block;
vertical-align:top;
}

#content .page.schufa .block .image img {
width:100%;
height:100%;
}

#content .page.schufa .block .text {
width:380px;
display:inline-block;
vertical-align:top;
font-size:14px;
line-height:20px;
color:#595959;
}

#content .page.schufa .block .text h4 {
margin:0;
font-size:20px;
line-height:25px;
color:#3F3F3F;
}


#content .news .block {
margin:0 0 15px 0;
padding:0 0 25px 0;
border-bottom:solid 2px #F9F9F9;
}

#content .news .block:last-child {border:none;}

#content .news.full .block {border:none;}

#content .news .block h3 {
margin:0;
font-family: 'Oswald', sans-serif;
font-size:25px;
}

#content .news .block h3 a {
text-decoration:none;
color:#4C4C4C;
}

#content .news .block h3 a:before {
content:'›';
margin:0 7px 0 0;
font-family: 'Oswald', sans-serif;
font-size:30px;
font-weight:300;
color:#DDB103;
}

#content .news .block h3 a:hover {color:#DDB103;}
#content .news .block h3 a:hover:before {color:#4C4C4C;}

#content .news .block .date {
margin:0 0 10px 15px;
font-family: 'Open Sans', sans-serif;
font-size:15px;
color:#999999;
}

#content .news .block .text {
font-size:15px;
line-height:25px;
color:#4C4C4C;
}

#content .news .block .text.short img {
width:200px;
height:auto;
float:left;
}


#content .news .block .text img {
float:left;
margin:0 25px 25px 0;
}

#content .tabbable div:last-child ul,
#content .page .entry ul,
#content .footer-text ul {
margin:15px 0 15px 50px;
padding:0;
list-style: square
}

#content .tabbable div:last-child ol,
#content .page .entry ol,
#content .footer-text ol {
margin:15px 0 15px 50px;
padding:0;
}
#content .tabbable div:last-child blockquote,
#content .page .entry blockquote,
#content .footer-text blockquote {
background:#FFF9E5;
margin:0 0 0 35px;
padding:5px 20px;
color:#404040;
border-left:solid 3px #DDB103;
}

#content .tabbable div:last-child li {

}

#content .page .entry table {
width:100%;
border-collapse: collapse;
}

#content .page .entry td {
background:#FFFFFF;
padding:7px 10px;
border:solid 1px #E5E5E5;
}

#footer {
background:#2E2E2E;
max-width:1150px;
margin:50px auto 0 auto;
position:relative;
border-top:solid 4px #DDB103;
}

/*

#footer:before {
    content: '';
    background: url(../images/slider-arrow-bottom.png) 0 0 repeat-x;
    width: 100%;
    height: 8px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

*/

#footer .container {
padding:0 0 50px 0;
}


#footer .menu {
padding:50px 0 50px 0;
text-align:center;
}

#footer .menu ul {
margin:0;
padding:0;
list-style:none;
}

#footer .menu li {
display:inline-block;
vertical-align:top;
}

#footer .menu li:after {
content:'|';
margin:0 10px 0 14px;
position:relative;
top:-1px;
font-family: 'Merriweather Sans', sans-serif;
font-size:13px;
font-weight:300;
color:#DDB103;
}

#footer .menu li:last-child:after {display:none;}

#footer .menu a {
font-size:18px;
color:#F9F9F9;
text-decoration:none;
}

#footer .menu .current-menu-item a {color:#DDB103;}

#footer .menu a:hover {color:#DDB103}


#footer .social {
margin:0 0 0 25px;
}

#footer .social ul {
margin:0;
padding:0;
list-style:none;
}

#footer .social li {
width:40px;
height:40px;
margin:0 4px 0 0;
display:inline-block;
vertical-align:top;
}

#footer .social li a {
width:40px;
height:40px;
display:block;
opacity:0.75;
}

#footer .social li:nth-child(1) a {
background: url('../images/social/facebook.png') 0 0 no-repeat;
background-size:40px 40px;
}

#footer .social li:nth-child(2) a {background: url('../images/social/twitter.png') 0 0 no-repeat;background-size:40px 40px;
}

#footer .social li:nth-child(3) a {background: url('../images/social/dribbble.png') 0 0 no-repeat;background-size:40px 40px;}
#footer .social li:nth-child(4) a {background: url('../images/social/instagram.png') 0 0 no-repeat;background-size:40px 40px;}



#footer .social li a:hover {opacity:0.95;}


#footer .logo a {
background: url('../images/logo-footer.png') 50% 0 no-repeat;
width:200px;
height:78px;
display:block;
margin:0 0 0 -100px;
position:absolute;
top:100px;
left:50%;
opacity:0.60;
}

#footer .logo span {display:none;}

#footer .top {
position:absolute;
top:115px;
right:25px;
}

#footer .top a {
background: url('../images/footer-top.png') 0 0 no-repeat;
width:50px;
height:50px;
background-size:50px 50px;
opacity:0.65;
display:block;
}

#footer .top a:hover {opacity:0.95;}


#footer .copyright {
background:#333333;
height:50px;
line-height:50px;
font-family: 'Open Sans', sans-serif;
font-size:15px;
font-weight:300;
color:rgba(255, 255, 255, 0.50);
text-align:center;
}

#header .menu-link {display:none;}